/target
/classes
/checkouts
pom.xml
pom.xml.asc
.#*
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
bwapi-data
pom.xml
pom.xml.asc
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.cpcache/

bwapi_bridge2_6.dll
libgmp-10.dll
libmpfr-4.dll
/.eastwood

/log/
